---
import { footer, site } from '../data/config.js';
---
<footer class="footer">
  <div>
    &copy; {footer.copyright.year} <a href={footer.copyright.url} target="_blank" rel="noopener">{footer.copyright.name}</a>.&nbsp;&nbsp;Powered by <a href="https://github.com/Kazusa1085/MainPage" target="_blank" rel="noopener">Kazusa1085</a> &amp; <a href="https://astro.build/" target="_blank" rel="noopener">Astro</a>
  </div>
  {footer.icp.enabled && (
    <div class="footer-icp">
      <a href={footer.icp.url} target="_blank" rel="noopener">{footer.icp.number}</a>
    </div>
  )}
</footer>